# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import your libraries:
import numpy as np
import pandas as pd
from sklearn import datasets

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [ ]:
# Your code here:
diabetesDataset = datasets.load_diabetes()
diabetesDataset

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [4]:
# Your code here:
diabetesDataset.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [5]:
# Your code here:
print(diabetesDataset.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

In [9]:
print('      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, T-Cells (a type of white blood cells)\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, thyroid stimulating hormone\n      - s5      ltg, lamotrigine\n      - s6      glu, blood sugar level')

      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [12]:
# Your code here:
df = pd.DataFrame(diabetesDataset.data, columns=diabetesDataset.feature_names)
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [13]:
# Your code here:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LinearRegression
X = diabetesDataset.data
y = diabetesDataset.target

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8)

Initialize the model in the variable `diabetes_model`

In [14]:
# Your code here:
diabetes_model = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [24]:
# Your code here:
diabetes_model.fit(X_train, y_train)
print('Intercpetion: ',diabetes_model.intercept_)
print('Coefficient: ',diabetes_model.coef_)

Intercpetion:  151.7336777243945
Coefficient:  [ -62.27043721 -186.32240758  566.79606134  277.8448368  -485.5588859
  265.67245623  -22.94889898  116.93052381  704.04426635   42.53880785]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [26]:
# Your code here:
import statsmodels.api as sm

X_train_sm = sm.add_constant(X_train)
est = sm.OLS(y_train, X_train_sm)
est_fit = est.fit()

print(est_fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.535
Model:                            OLS   Adj. R-squared:                  0.521
Method:                 Least Squares   F-statistic:                     39.31
Date:                Thu, 12 Aug 2021   Prob (F-statistic):           4.68e-51
Time:                        11:33:21   Log-Likelihood:                -1898.8
No. Observations:                 353   AIC:                             3820.
Df Residuals:                     342   BIC:                             3862.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        151.7337      2.845     53.342      0.000     146.139     157.329
x1           -62.2704     66.306     -0.939      0.348    -192.689      68.148
x2          -186.3224     67.271     -2.770      0.006    -318.640     -54.005
x3           566.7961     73.461      7.716      0.000     422.305     711.287
x4           277.8448     72.149      3.851      0.000     135.932     419.757
x5          -485.5589    471.985     -1.029      0.304   -1413.918     442.800
x6           265.6725    382.169      0.695      0.487    -486.025    1017.370
x7           -22.9489    238.945     -0.096      0.924    -492.936     447.038
x8           116.9305    179.921      0.650      0.516    -236.960     470.821
x9           704.0443    188.086      3.743      0.000     334.093    1073.996
x10           42.5388     74.053      0.574      0.566    -103.119     188.196
==============================================================================
Omnibus:                        0.417   Durbin-Watson:                   2.060
Prob(Omnibus):                  0.812   Jarque-Bera (JB):                0.542
Skew:                           0.050   Prob(JB):                        0.762
Kurtosis:                       2.836   Cond. No.                         233.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [28]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [30]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [31]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [33]:
# Your code here:
print('Oldest model: ',auto.model_year.min())
print('Newest model: ',auto.model_year.max())

Oldest model:  70
Newest model:  82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [36]:
# Your code here:
auto.dropna(inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [38]:
# Your code here:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [42]:
# Import the necessary function
from sklearn.linear_model import LinearRegression

In [43]:
auto_clean = auto.drop(['car_name'], axis=1)
# Predict
X = auto_clean.drop(['mpg'], axis=1)
# Response
y = auto_clean['mpg']
#Separate data set in training and test data sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.8)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [44]:
# Your code here:
lr = LinearRegression()

Next, fit the model in the cell below.

In [45]:
# Your code here:
lr.fit(X_train, y_train)
print('w = ' + str(lr.coef_) + ', b = ' + str(lr.intercept_))

w = [-2.13273233  0.0396809   0.02074403 -0.00707794  0.61971906  0.83206673], b = -26.40751523046976

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [59]:
# Import the necessary function:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [60]:
# Your code here:
y_pred = lr.predict(X_train)
#Error cuadrático medio
mse = mean_squared_error(y_true=y_train, y_pred= y_pred)
#Raiz del error 
rmse = np.sqrt(mse)
# R squared score
r2 = r2_score(y_train, y_pred)
print('Error Cuadrático Medio (MSE) = ' + str(mse))
print('Raíz del Error Cuadrático Medio (RMSE) = ' + str(rmse))
print('Coeficiente de Determinación R2 = ' + str(r2))

Error Cuadrático Medio (MSE) = 12.004209519657662
Raíz del Error Cuadrático Medio (RMSE) = 3.46470915368919
Coeficiente de Determinación R2 = 0.8283978299693432

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [61]:
# Your code here:
y_test_pred = lr.predict(X_test)
r2_test = r2_score(y_test, y_test_pred)
df = pd.DataFrame({'Actual':y_test, 'Predicho':y_test_pred})
print('Coeficiente de Determinación R2 = ' + str(r2_test))
df.head()

Coeficiente de Determinación R2 = 0.759186901204025

     Actual   Predicho
284    20.6  24.244874
318    29.8  29.228454
103    11.0   9.563074
250    19.4  18.698716
262    19.2  20.480745

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [71]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size= 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [73]:
# Your code here:
auto_model09 = LinearRegression()
auto_model09.fit(X_train09,y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [76]:
# Your code here:
y_test_pred09 = lr.predict(X_train09)
r2_test09 = r2_score(y_train09, y_test_pred09)
df = pd.DataFrame({'Actual':y_train09, 'Predicho':y_test_pred09})
print('Coeficiente de Determinación R2 = ' + str(r2_test09))
df.head()

Coeficiente de Determinación R2 = 0.757759033859222

     Actual   Predicho
382    34.0  33.611929
4      17.0  11.758336
182    28.0  26.494077
284    20.6  24.244874
289    16.9  17.741543

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [77]:
# Your code here:
y_test_pred09 = lr.predict(X_test09)
r2_test09 = r2_score(y_test09, y_test_pred09)
df = pd.DataFrame({'Actual':y_test09, 'Predicho':y_test_pred09})
print('Coeficiente de Determinación R2 = ' + str(r2_test09))
df.head()

Coeficiente de Determinación R2 = 0.9059583584407367

     Actual   Predicho
358    31.6  31.446220
11     14.0  10.999323
359    28.1  29.494020
298    23.0  21.924371
375    36.0  34.459965

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [78]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [79]:
# Your code here:
selector = RFE(lr, n_features_to_select=3)

Fit the model and print the ranking

In [80]:
# Your code here:
selector = selector.fit(X_train, y_train)
selector.ranking_

array([1, 3, 2, 4, 1, 1])

In [86]:
X_new = X[['cylinders', 'acceleration', 'model_year']]

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [94]:
# Your code here:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_new, y, test_size = 0.2)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [95]:
# Your code here: 
auto_model_reduce = LinearRegression()
auto_model_reduce.fit(X_train_reduced, y_train_reduced)

LinearRegression()

In [96]:
y_pred_reduced = auto_model_reduce.predict(X_test_reduced)
r2_reduced = r2_score(y_test_reduced, y_pred_reduced)
df = pd.DataFrame({'Actual':y_test_reduced, 'Predicho':y_pred_reduced})
print('Coeficiente de Determinación R2 = ' + str(r2_reduced))
df.head()

Coeficiente de Determinación R2 = 0.7211187461619663

     Actual   Predicho
161    16.0  21.178160
351    34.4  31.560641
322    46.6  30.850846
201    18.5  21.878171
8      14.0  11.357073